:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  padding: 2.5rem;
  display: flex;
}

/* .container {
  background-color: #fff;
  padding: 2.5rem;

  display: flex;
} */

.sidebar {
  /* border: 2px solid #000; */
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  color: #fff;
  max-width: 100%;
  background-color: #2d3439;
  overflow: hidden;
  flex-basis: 50rem;

  padding: 3rem 5rem 4rem 5rem;
}
.country-box {
  background-color: #42484d;
  margin: 2rem auto;
  border-radius: 1rem;
  padding: 1rem;
  width: 90%;
}

.country-info {
  font-size: 1.8rem;
  text-align: center;
}
.country-flag {
  width: 100%;
}
.country-name {
  font-size: 2.4rem;
}

.country-stats {
  margin: 3.2rem;

  display: grid;
  row-gap: 2.4rem;
}

#map {
  flex: 1;
  height: 100%;
  background-color: #aaa;
  position: relative;
}
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.form {
  position: absolute;
  z-index: 1000;
  background-color: #2d3439;
  left: 50%;
  bottom: 0%;
  padding: 0.8rem 1.6rem;
  width: 50%;
  border-radius: 2.4rem;
  transform: translateX(-50%);
  text-align: center;
  /* opacity: 0.75; */
}

.form-row {
  opacity: 1;
}

.form__label {
  color: #fff;
  font-size: 1.2rem;
}
.form__input {
  border-radius: 0.2rem;
  border: none;
  background-color: #fff;
}

.error {
  display: none;
  position: relative;
  /* display: flex; */
  flex-direction: column;
  text-align: center;
  font-size: 2.4rem;
  padding: 3.2rem;
  border-radius: 5rem;
  width: 50%;
  left: 50%;
  top: 50%;
  background-color: #ff0033;
  z-index: 100000;
  transform: translateX(-50%);
}

.error-message {
  margin-bottom: 1.6rem;
}

.error-btn {
  background-color: #fff;
  border-radius: 100rem;
  border: none;
  padding: 0.4rem;
  font-size: 1.6rem;
}

.error-btn:hover,
.error-btn:active {
  background-color: #c4c4c4;
}
